# This file is here because many Platforms as a Service look for
# requirements.txt in the root directory of a project.

# PBR should always appear first
pbr>=1.8

Babel>=2.3
six>=1.9.0

# i18n
i18n==0.2

jsonpath_rw_ext==1.0.0
# cache
pylibmc==1.5.1

# openstack oslo
oslo.service==1.16.0
oslo.messaging==5.10.0
